<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.su"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fengmian"
        android:label="吹吧"
        android:theme="@style/AppTheme" >
        <activity android:name=".Entry" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BallonGameActivity" >
        </activity>
        <activity
            android:name="com.tu.Balloon"
            android:label="@string/title_activity_main_screen" >
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>